doc/* # all files in doc directory
development/*
doctrees/*
help/build/html/_sources/*
trash/*
junk/*
*.asv
*.bat
*.bak
*old*
*- Copy*
# python stuff
*.py
*.rst
*.css
*.doctree
*.pickle
Makefile
!/examples/VariousModels/KaijiTutorial/Tutorial.pdf
!/doc/svar.pdf
!old_versions

