doc/* # all files in doc directory
development/*
doctrees/*
help/build/html/_sources/*
trash/*
junk/*
*.asv
*.bat
*.bak
*.log
*old*
*- Copy*
.aux
# python stuff
*.py
*.rst
*.css
*.doctree
*.pickle
.buildinfo
.cls
.sty
.ist
Makefile
!/examples/VariousModels/KaijiTutorial/Tutorial.pdf
!/doc/svar.pdf
!old_versions

